fieldset {
    display: block;
    margin-left: 0px;
    margin-right: 1300px;
    padding-top: 0.15em;
    padding-bottom: 0.55em;
    padding-left: 0.45em;
    padding-right: 0.25em;
    border: 2px groove (internal value);
}