html,body{
    height: 100%;    
    
}

body{
    margin: 0;
    
    background: linear-gradient(130deg, #a2ab58, #3c1053, #dd1818, #38ef7d, #108dc7);
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
    moz-box-sizing: border-box;
    
}
    @keyframes gradient {
        0% {
            
            background-position: 0 50%;
        }
        50% {          
            background-position: 100% 50%;
        }
        100% {           
            background-position: 0 50%;
        }
            
    }
    