html,body{
    height: 100%;    
}

body{
    margin: 0;
    
    background: linear-gradient(45deg, #F17C58, #E94584, #24AADB, #27DBB1, #FFDC18, #FF3706);
    background-size: 400% 300%;
    animation: gradient 10s ease infinite;
}
    @keyframes gradient {
        0% {
            
            background-position: 0 50%;
        }
        50% {          
            background-position: 100% 50%;
        }
        100% {           
            background-position: 0 50%;
        }
            
    }